{% extends 'blog/base.html' %}

{% block add_posts %}
    <div class="svg__icon">
        <a href="{% url 'post_new' %}">
            {% include './icons/file-earmark-plus.svg' %}
        </a>
    </div>
{% endblock %}


{% block content %}
    {% for post in posts %}
        <article class="article margin-large">
            <time class="article__time margin-small">Published: {{post.published_date}}</time>
            <h2 class="article__heading margin-small"><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2>
            <p class="article__text">{{post.text|linebreaksbr}}</p>
        </article>
    {% endfor %}
{% endblock %}