{% extends 'blog/base.html' %}

<!-- Display the form and direct the user input to the post_new view -->

{% block content %}

    <div class="center_text margin-medium">
        <h2 class="form__heading">Add a new post</h2>
    </div>
        

    <form method="POST" class="post-form">{% csrf_token %}  <!-- Token is important for security -->
       <h2 class="form__title"> Title: </h2> <div class="margin-small"> {{ form.title }} </div> 
       <h2 class="form__text"> Content: </h2> <div class="margin-small"> {{ form.text }} </div>  <!-- Display the form contents -->
       <button type="submit" class="btn">Save Post</button>
    </form>

{% endblock %}